<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xpjun.newcashbook"
    android:versionCode="1">

    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/new_title"
        android:label="爱记账"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity android:name=".Activity.MainActivity" >
        </activity>
        <activity android:name=".Activity.AddListActivity" >

        </activity>
        <activity android:name=".Activity.AddIncomeActivity" >

        </activity>
        <activity android:name=".Activity.SignUpActivity" >

        </activity>
        <activity android:name=".Activity.ShowDetailExpenActivity" >

        </activity>
        <activity android:name=".Activity.ShowStatisticActivity" >

        </activity>
        <activity android:name=".Activity.ShowDetailActivity" >

        </activity>
        <activity android:name=".Activity.ShowCreditActivity" >

        </activity>
        <activity android:name=".Activity.ShowLifeActivity" >

        </activity>
        <activity
            android:name=".Activity.LogInActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

    </application>

</manifest>
